
USE master;

-- Kiểm tra và xóa database cũ nếu tồn tại
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'QuanLyVeXeBuytv1')
BEGIN
    ALTER DATABASE QuanLyVeXeBuytv1 SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE QuanLyVeXeBuytv1;
END;

-- Tạo database mới
CREATE DATABASE QuanLyVeXeBuytv1;
GO

USE QuanLyVeXeBuytv1;
GO
-- Tạo bảng NguoiDung

CREATE TABLE NguoiDung (
    MaNguoiDung INT PRIMARY KEY,
    Ho VARCHAR(100),
    Ten VARCHAR(100),
    SoDienThoai VARCHAR(20),
    Email VARCHAR(100),
    MatKhau VARCHAR(100)
);
go
-- Tạo bảng Tuyen
CREATE TABLE Tuyen (
    MaTuyen INT PRIMARY KEY,
    DiemDi VARCHAR(100),
    DiemDen VARCHAR(100),
    QuangDuong INT
);
go
-- Tạo bảng Xe
CREATE TABLE Xe (
    MaXe INT PRIMARY KEY,
    TenXe VARCHAR(100),
    TenTaiXe VARCHAR(100),
    LoaiXe VARCHAR(50),
    DiemDi VARCHAR(100),
    DiemDen VARCHAR(100),
    NgayKhoiHanh DATE,
    GioDen TIME,
    GioDi TIME,
    SoGhe INT,
    GheConTrong INT,
    GiaVe INT,
    MaTuyen INT,
    CONSTRAINT FK_Xe_Tuyen FOREIGN KEY (MaTuyen) REFERENCES Tuyen(MaTuyen)
);
go
-- Tạo bảng DatCho
CREATE TABLE DatCho (
    MaDatCho INT PRIMARY KEY,
    TrangThai VARCHAR(50),
    NgayDat DATE,
    GioDat TIME,
    DiemDi VARCHAR(100),
    DiemDen VARCHAR(100),
    NgayGioKhoiHanh DATETIME,
    SoGheDat INT,
    GiaVe INT,
    MaNguoiDung INT,
    MaXe INT,
    CONSTRAINT FK_DatCho_NguoiDung FOREIGN KEY (MaNguoiDung) REFERENCES NguoiDung(MaNguoiDung),
    CONSTRAINT FK_DatCho_Xe FOREIGN KEY (MaXe) REFERENCES Xe(MaXe)
);